{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="auth-form">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="twitter_consumer_key">Twitter Consumer Key</label>
    <input name="twitter_consumer_key" id="twitter_consumer_key" required>
    <label for="twitter_consumer_secret">Twitter Consumer Secret</label>
    <input name="twitter_consumer_secret" id="twitter_consumer_secret" required>
    <label for="twitter_access_token">Twitter Access Token</label>
    <input name="twitter_access_token" id="twitter_access_token" required>
    <label for="twitter_access_token_secret">Twitter Access Token Secret</label>
    <input name="twitter_access_token_secret" id="twitter_access_token_secret" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
