{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timeline{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for status in statuses %}
<article class="tweet">
  <img src="{{ status.profile_image }}" height="49" width="49">
  <header>
    <div>
      {{ status.author_name }}
      @{{ status.author_screen_name }} · {{ status.created|datetime }}
    </div>
  </header>
  <p class="body">{{ status.text }}</p>
  {{ status.json }}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
