{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for status in statuses %}
<article class="tweet-box">
  <div class="tweet">
    <div class="imgbox">
      <img class="profile" src="{{ status.profile_image }}" height="49" width="49">
    </div>
    <div>
      <div class="tweet-header">
        <span class="user-name">{{ status['user_name'] }}</span>
        <span class="user-screen-name">@{{ status['user_screen_name'] }}</span>
        <span class="datetime"> · {{ status['created']|datetime }}</span>
      </div>
      <p class="tweet-body">{{ status['text'] }}</p>
    </div>
  </div>
</article>
{% endfor %}
{% endblock %}
